<div class="card">
  <div class="card-header">
    About Me
  </div>
  <div class="card-body">
    <p>
      Hello! I am Tom Thorogood. I am a fiction writer, musician, and software engineer in Seattle, WA.
    </p>

    <p>
      My <a routerLink="/published-works">short fiction</a> has appeared in
      <i>Let the Weirdness In: A tribute to Kate Bush</i>,
      <i>Robbed of Sleep, Vol. 4</i> and
      <i>The Corner Club Press</i>,
      with more on the way!
    </p>

    <p>
      I keep a copy of the <em>Chicago Manual of Style</em> on my desk,
      and I think indexing is a really fun exercise. I'm a paid subscriber
      to a dictionary website, which is one of my most-used sites. In other words:
      I love language, style, etymology, and lexicology.
    </p>

    <p>
      By day, I am a software engineer for <a href="https://www.github.com" target="_blank">GitHub</a>. I made the new Forks page!
      You can find my public code contributons to the universe by visiting my own 
      <a href="https://www.github.com/tomthorogood" target="_blank">GitHub profile</a>.
    </p>

    <p>
      Some of my favorite software projects include an application-layer load balancer for netflow traffic,
      a live-updating workflow messenger for Slack, an Alexa app to tell me what fish I can
      catch in Animal Crossing at any given time, and a <em>Zork</em>-style
      adventure game as a commission for a friend's birthday.
    </p>

    <p>
      I like to play games, and think a lot about game design.
      I love all all sorts of games, especially if they are non- (or only comically) violent.
    </p>

    <p>I live in Burien, WA, with my husband, Joel, and our sheltie, Rupert Giles.</p>
  </div>
</div>
