<div class="card">
  <div class="card-header">
    Contact
  </div>
  <div class="card-body">
    <ul style="list-style-type: none">
      <li class="twitter">
        <a href="https://twitter.com/tathorogood" target="_blank" class="twitter">
          <i class="bi bi-twitter"></i>
          Twitter
        </a>
      </li>
      <li class="mastodon">
        <a rel="me" href="https://mastodon.social/@tathorogood" target="_blank">
          <i class="bi bi-mastodon"></i>
          Mastodon
        </a>
      </li>
      <li class="github">
        <a href="https://github.com/tomthorogood" target="_blank">
          <i class="bi bi-github"></i>
          Github
        </a>
      </li>
      <li class="email">
        <a href="mailto:tom@tomthorogood.com">
          <i class="bi bi-envelope">
          </i>
          Email
        </a>
      </li>
    </ul>
  </div>
</div>
