<div class="card">
  <div class="card-header">
    Published Works
  </div>
  <div class="card-body">
    <ul class="publications">
      <li *ngFor="let work of publishedWorks">
        <span class="title">{{work.title}}</span>
        <span class="publisher">
          <a *ngIf="work.publisherLink" href="{{work.publisherLink}}" target="_blank">
            {{work.publisher}}
          </a>
          <span *ngIf="!work.publisherLink">{{work.publisher}}</span>
        </span>
        <span class="publication-year">{{work.publicationYear}}</span>
        <span class="description" [innerHTML]="work.description"></span>
        <a *ngIf="work.sampleLink && work.sampleLink.external" href="{{work.sampleLink.href}}"
           target="_blank">
          {{work.sampleLink.text}}
        </a>
        <a *ngIf="work.sampleLink && !work.sampleLink.external" routerLink="{{work.sampleLink.href}}">
          {{work.sampleLink.text}}
        </a>
        <hr>
      </li>
    </ul>
  </div>
</div>
