<div class="card">
  <div class="card-header">
    R.S.V.P. to your R.I.P.
  </div>
  <div class="card-body">
    <p>
      This invitation is loading from Google forms, and Tom is bad at mobile layouts. 
      If this gives you trouble, you can 
      <a href="https://forms.gle/6podLe6D3Y88fKez9" target="_blank">
        view the form directly
      </a>.
    </p>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSftQoyt6TQQ3Uyx0po7RXbRnAQPyVNS4Yz0ZuBc7Tc5jgDYMw/viewform?embedded=true" width="640" height="1643" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </div>
</div>
