<div class="card">
  <div class="card-header">
    Services
  </div>
  <div class="card-body">
    <p>
      I am able to accept a light load of freelance services. Freelance services are
      limited to evening and weekend work. I can accept payment via Cash App or Venmo.
    </p>
    <p>
      I aim to be positive and constructive in all feedback, and remember that
      the work is <em>yours</em>. I want to help you tell your story better,
      whatever that story is.
    </p>
    <p>
      I am not able to rush my services. I offer them because I love doing them,
      but I love my family more.
    </p>
    <table class="table">
      <thead>
      <tr>
        <th style="width: 12em">Service</th>
        <th>Description</th>
        <th style="width: 12em">Pricing</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Resume consultation</td>
        <td class="wordy">
          <p>
            I can help you express yourself professionally to target specific markets,
            or hone a general resume.
          </p>
          <ul>
            <li><b>Proofreading</b> - Spelling, basic grammar</li>
            <li><b>Development</b> -  Making sure this is the best representation of you for the
                               positions you're seeking</li>
            <li><b>Formatting</b> -  Consistent spacing, margins, fonts</li>
            <li><b>Condensing</b> -  Weed out the unnecessary to fit to single page</li>
          </ul>
        </td>
        <td>$100 and 72 hours per page provided</td>
      </tr>
      <tr>
        <td>Beta reading</td>
        <td class="wordy">
          <p>
            I am willing to beta read speculative fiction of all genres.
            I love when authors provide a sheet of the
            types of feedback they are looking for in their betas, but otherwise
            will use my best judgment.
          </p>
          <p>
            Clients can expect
            question-based, developmental feedback as well as more emotive "reader reactions" to
            gauge how their work made their audience feel.
          </p>
        </td>
        <td>
          $100 and 2 weeks per 80k words provided
        </td>
      </tr>
      <tr>
        <td>Light, technical copy editing</td>
        <td class="wordy">
          <p>
            This basic service ensures that you've dotted your
            i's and crossed your t's. This is never a bad idea
            before you submit somewhere!
          </p>
          <ul>
            <li><b>Proofreading</b> - Spelling, basic grammar</li>
            <li><b>Formatting</b> - Consistent spacing, margins, fonts</li>
          </ul>
        </td>
        <td>
          $50 and 1 week per 25k words provided.
        </td>
      </tr>
      <tr>
        <td>Standard copy editing</td>
        <td class="wordy">
          Technical editing, plus:
          <ul>
            <li>
              <b>Structure</b> - </li>
          </ul>
        </td>
        <td>$125 and 10 days per 25k words provided</td>
      </tr>
      <tr>
        <td>Developmental editing</td>
        <td>
          This starts as a beta read, then continues with ongoing feedback. After the
          initial read, you will receive
        </td>
        <td>
          Priced as for beta reading, plus $25 per 1k words of updated text as needed.
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
